In [2]:
import pandas as pd 
import scanpy as sc

In [66]:
df = pd.read_csv("../data/GSE910_SMOTE_log2_top100.csv", index_col = 0)
print(df.head())
df.apply(pd.to_numeric, errors = 'coerce')
labels = pd.read_csv("../data/GSE910_SMOTE_labels_top100.csv", index_col=0)

print(labels.head())

      RN7SL2        FTL     MT-CO3     MT-CO2   MT-ATP8    MT-ATP6     MT-CO1  \
0  15.038124  10.267509   6.096489   6.029887  4.996209   4.828822   7.590253
1  15.313833   9.622666   9.860376   9.738486  9.475843   9.217649  10.936979
2  16.739384   9.744946  10.067124  10.726867  8.760113   8.636872  11.444593
3   6.150741  11.761988  11.113195  10.876473  9.272044  10.677880  11.052563
4   6.737094  11.851334  10.608619  10.246659  8.657706   9.951498  10.451394

        IGKC     MT-ND4   MT-RNR2  ...      CTSB     IGKJ1    SPRR2E  \
0   5.647115   5.412997  5.024420  ...  7.253257  0.000000  0.000000
1   5.360864   8.928858  7.789543  ...  7.433607  0.000000  0.185674
2   9.147465   8.696023  6.988178  ...  5.344500  1.691215  0.000000
3  10.066972  10.668391  9.690645  ...  7.083906  4.836296  0.000000
4  10.013964   9.771394  9.228568  ...  7.081397  2.933361  4.917178

    IGKV4-1  TFF1        HP     HLA-A   IGHV3-7  HLA-DRB1    KRTDAP
0  0.217787   0.0  0.474323  9.465274  0.000000  8.906496  0.000000
1  3.118167   0.0  0.052839  7.720830  0.000000  5.987946  0.204788
2  0.558147   0.0  0.066288  3.604023  0.259431  5.674888  0.000000
3  5.996376   0.0  0.429230  8.847922  2.360120  8.026241  0.132312
4  4.459239   0.0  0.128755  9.050430  4.492624  8.053082  5.337647

[5 rows x 100 columns]
   Response
0         1
1         0
2         0
3         0
4         0

In [67]:
label_list = []
for row in labels.index:
    if (labels.loc[row, :] == 0).all():
        label_list.append(f"N_{row}")
    elif (labels.loc[row, :] == 1).all():
        label_list.append(f"R_{row}")
labels["Response"] = label_list
labels

    Response
0        R_0
1        N_1
2        N_2
3        N_3
4        N_4
..       ...
111    R_111
112    R_112
113    R_113
114    R_114
115    R_115

[116 rows x 1 columns]

In [68]:
adata = sc.AnnData(X=df, obs=labels )
adata

/Users/eveyzheng/LMP1210_2024/.conda/lib/python3.9/site-packages/anndata/_core/aligned_df.py:67: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

AnnData object with n_obs × n_vars = 116 × 100
    obs: 'Response'

In [69]:
GSE910=adata.write("./910_2.h5ad")